  @charset "UTF-8";

  body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre,
  form, fieldset, input, textarea, p, blockquote, th, td {
    padding: 0;
    margin: 0;
  }


  @font-face {
    font-family: 'Suisse Int\'l';
    src: url('typo/SuisseIntl-Book.eot');
    src: url('typo/SuisseIntl-Book.eot?#iefix') format('embedded-opentype'),
    url('typo/SuisseIntl-Book.woff2') format('woff2'),
    url('typo/SuisseIntl-Book.woff') format('woff'),
    url('typo/SuisseIntl-Book.ttf') format('truetype'),
    url('typo/SuisseIntl-Book.svg#SuisseIntl-Book') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Suisse Int\'l';
    src: url('typo/SuisseIntl-Book_1.eot');
    src: url('typo/SuisseIntl-Book_1.eot?#iefix') format('embedded-opentype'),
    url('typo/SuisseIntl-Book_1.woff2') format('woff2'),
    url('typo/SuisseIntl-Book_1.woff') format('woff'),
    url('typo/SuisseIntl-Book_1.ttf') format('truetype'),
    url('typo/SuisseIntl-Book_1.svg#SuisseIntl-Book') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  body {
    font-family: 'Suisse Int\'l';
    background-color: #000000;
    color: white;
  }

  h1 {
    font-size: 3.7vw;
    font-weight: 100;
  }

  h2 {
    font-size: 2.1vw;
    font-weight: 100;
  }

  h3 {
    font-size: 0.6vw;
    font-weight: 100;
    line-height: 0.4vw;
  }

  li {
    list-style-type: none;
    margin-bottom: 17px;
    cursor: pointer;
  }

  a:link {
    cursor: pointer;
    text-decoration: none;
    color: white;
  }

  a:visited {
    cursor: pointer;
    text-decoration: none;
    color: white;
  }

  a:hover {
    cursor: pointer;
    text-decoration: none;
    color: white;
  }

  a:active {
    cursor: pointer;
    text-decoration: none;
    color: white;
  }

  button {
    background-color: transparent;
    border: none;
    outline: none;
  }

  nav {
    display: flex;
    justify-content: space-between;
    mix-blend-mode: difference;
    position: fixed;
    min-height: 140px;
    top: 52px;
    right: 65px;
    left: 55px;
    z-index: 0;
  }

  .landpage-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
  }

  .icon-md {
    width: 2.5vw;
    fill: #EC7442;
  }

  .arrow-down {
    width: 3.5vw;
    fill: #FFFFFF;
    transform: translate(3vw,-3vw);
  }

  .title {
    margin-top: 35vh;
  }

  .sub-title {
    margin-top: 3vw;
  }

  .ornament {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    margin-right: 65px;
    margin-left: 55px;
    margin-bottom: 52px;
  }

  .ornament > h3 {
    text-align: right;
  }

  .project-container {
    position: relative;
    margin-top: 24vw;
    margin-right: 65px;
    margin-left: 55px;
  }

  .project-container a{
    opacity:1!important;
    transition: opacity 100ms ease-in-out;
  }

  .project {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 2.5vw;
    padding-bottom: 2.5vw;
  }

  .project-container a{
    color: #FFFFFF;
    transition: color  600ms ease-in-out;
  }

  .project-container a.hover-in{
    color: #FFFFFF;
    transition: color 600ms ease-in-out;
  }

  .project-container a.hover-off{
    color: #404040;
    transition: color  600ms ease-in-out;
  }

  .project-info {
    display: flex;
    justify-content: space-between;
    width: 50%;
  }

  .project-title {
    position: relative;
  }

  .project-list{
    position: relative;
  }

  .cutline {
    width: 100%;
    height: 1px;
    background-color: #FFFFFF;
    opacity: 0.2;
    position: absolute;
    z-index: -40;
  }

  .surround {
    position: absolute;
    fill: none;
    stroke: #EC7442;
    stroke-miterlimit: 10;
    stroke-width: 2px;
    margin-right: -33px;
    margin-top: -11px;
    margin-bottom: -23px;
    margin-left: -25px;
  }

  .contact {
    margin-top: 30vw;
    margin-bottom: 35vw;
  }

  .mailto {
    margin-top: 10vw;
  }

  .arrow-up {
    width: 0.45vw;
    fill: white;
    margin-right: 5px;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    margin-right: 65px;
    margin-left: 55px;
  }

  .link-container {
    display: flex;
    width: 50%;
    justify-content: space-between;
  }

  .social-link {
    display: flex;
    justify-content: space-between;
    width: 70%;
  }

  .social-link > li > a:link > h3{
    opacity: 0.2;
    transition: opacity 0.2s ease-in-out;
  }

  .social-link > li > a:hover > h3{
    opacity: 1;
    text-decoration: none;
    transition: opacity 0.2s ease-in-out;
  }

  .background{
    position: absolute;
    display: flex;
    width: 100%;
    margin-top: -120px;
    justify-content: center;
    align-items: center;
    align-content: center;
    z-index: -30;
  }

/* NAV - NAV - NAV - NAV - NAV - NAV - NAV - NAV - NAV - NAV - NAV - NAV - NAV */

  #nav-toggle {
    display: inline-block;
    height: 30px;
    width: 50px;
    position: relative;
  }

  #nav-toggle span {
    margin-top: -4px;
  }

  #nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
    cursor: pointer;
    width: 44px;
    background: white;
    position: absolute;
    display: block;
    content: '';
  }

  #nav-toggle span:before {
    top: 4px;
    height: 2px;
  }

  #nav-toggle span:after {
    bottom: 4px;
    height: 2px;
  }


  #nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }

  #nav-toggle.active span {
    background-color: transparent;
  }

  #nav-toggle.active span:before, #nav-toggle.active span:after {
    top: 0;
  }

  #nav-toggle.active span:before {
    transform: rotate(10.5deg);
  }

  #nav-toggle.active span:after {
    transform: rotate(-10.5deg);
  }

/* ANIMATION - ANIMATION - ANIMATION - ANIMATION - ANIMATION - ANIMATION - ANIMATION - ANIMATION - ANIMATION - ANIMATION */

  h1 > div {
    position: relative;
    height: 4.8vw;
    overflow: hidden;
    text-align: center;
  }

  .hidden {
    position: absolute;
    opacity: 0;
    transform: translateY(50px);
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
  }

  .hidden2 {
    position: absolute;
    opacity: 0;
    transform: translateY(50px);
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
  }

  .fadeIn {
    opacity: 0;
  }

  .fadeInUp{
    opacity: 0;
    transform: translateX(-10vw);
  }

  .scale-grow{
    transform: scaleX(2);
  }